*{
  box-sizing: border-box;
}
.container_users{
  background: #282c34;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border: #020303 5px solid ;
  margin: 0 50px;
}

.container_user{
  border: #74dbff 10px solid;
  width: 20%;
  text-align: center;
}

.container_address{
  background: wheat;
  color: #282c34;
}

.container_geo{

}

.container_company{
  background: #282c34;
  color: wheat;
}
